body {
  background-color: #ecd7c7;
  font-family: "Dosis", sans-serif;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.spaced {
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.padding {
  padding: 1rem;
}

.fullscreenheight {
  height: 100vh;
}

.white {
  color: white;
}

a {
  color: white;
  font-size: 2.5rem;
}

a:hover {
  color: #b6cbd1;
}

.navigation {
  top: 0;
  position: sticky;
  z-index: 1;
}

.navigation a {
  font-size: 1rem;
}

.logo {
  height: 20rem;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.main-section {
  background-image: url("./assets/hero.jpg");
  min-height: 100vh;
}

.selfie {
  object-fit: cover;
  height: 100%;
}

.title {
  font-size: 1.5em;
  text-decoration: none;
}

.first-section {
  background-image: url(https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  min-height: 50vh;
}

.second-section {
  background-image: url(https://images.unsplash.com/flagged/photo-1557352041-0ed68833fbac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1076&q=80);
  min-height: 50vh;
}

.gallery {
  flex: 50%;
  max-width: 50%;
}

.squareImage {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 719px) {
  a {
    font-size: 1.5rem;
  }
  .selfie {
    height: 70%;
  }
  .gallery {
    flex: 100%;
    max-width: 100%;
  }
}
